.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 1000;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -250px; /* Inicialmente fuera de la pantalla */
  width: 250px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: left 0.3s ease;
  padding: 20px;
  z-index: 1000;
  overflow-y: auto; /* Permite el desplazamiento vertical */
  
}

.side-menu.open {
  left: 0; /* Mueve el menú a la vista */
}

.close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 20px;
}

.side-menu ul {
  list-style-type: none;
  padding: 0;
}

.side-menu li {
  margin: 20px 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 500; /* Debe estar debajo del menú pero encima del resto del contenido */
}
